<nav>
    <div class="nav-wrapper grey darken-4">
        <div class="row">
            <div class="col s1">
                <a href="#" class="brand-logo">
                    <div style="font-family: 'Berkshire Swash', cursive;">QB</div>
                </a>
            </div>
            <div class="col s7 offset-s1">
                <nav>
                    <div class="nav-wrapper grey darken-3">
                        <form>
                            <div class="input-field">
                                <input id="search" placeholder="Search..." type="search" required>
                                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                <i class="material-icons">close</i>
                            </div>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</nav>
<div class="section grey lighten-2">
    <div class="container">
        <div ng-repeat="book in books">
            <div class="row">
                <div class="col s6 offset-s3">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="Images/books.jpeg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">{{book.bookname}}<i class="material-icons right">more_vert</i></span>
                            <p>By <a href="#">{{book.author}}</a>, {{book.year}}</p>
                            <p><a href="#">{{book.username}}</a></p>
                            <p>
                              <!--   <input id="lenderId" type="hidden" ng-model="llenderId" value="{{book.uuid}}"> 
                                <input id="bookId" type="hidden" ng-model="lbookId" value="{{book.ubid}}"> -->
                                <a ng-click="borrow(book)" id="borrowBtn" class="waves-effect waves-teal btn orange accent-4">Borrow this Book</a>
                                
                            </p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">{{book.bookname}},{{book.year}}, By {{book.author}}.Genre: {{book.genre}}<i class="material-icons right">close</i></span>
                            <p>{{book.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
